.app-navbar-container {
    .app-logo {
        width: 258px;
        height: 93px;
        display: block;
        text-align: center;
        margin: 0 auto;
        //overflow: hidden;
        > img {
            @include cover-media;
        }
    }
    .app-full-logo {
        margin-bottom: 42px;
    }
}

.header--fixed {
    margin-top:248px;
    .app-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-nav {
            flex: 1;
        }
    }
    .main-header {
        animation: menuTranslate 200ms both;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        background: #fff;
        padding:25px 0;
        .app-full-logo {
            opacity: 0;
            display: none;
        }
        .app-logo-compressed {
            opacity: 1;
            display: block;
            padding-right: 50px;
        }
    }
}

.main-header {
    padding-top: 45px;
    .app-logo-compressed {
        display: none;
    }
    .navbar-nav {
        > li {
            &.current-menu-item {
                > a {
                    color:$primary;
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
            > a {
                text-transform: uppercase;
                color:$body;
                font-size: 0.8889rem;
            }
        }
    }
}

@keyframes menuTranslate {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}