.app-internal {
     margin-top: 40px;
    .app-internal-header {
        background-size: cover;
        background-repeat: no-repeat;
        height: 378px;
        display: flex;
        flex-direction: column;
    }
    .app-internal-headout {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        padding-bottom: 95px;
        color:#fff; 
        .scrollto-container {
            position: relative;
            z-index: 1;
        }
    }
}