$primary: #5961D1;
$body: #000;

//font variables

$headings-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Montserrat', sans-serif;

//font sizes



//buttons
$input-btn-padding-y-sm: 0.4rem;
$input-btn-padding-x-sm: 1.5rem;
$btn-border-radius:0;
$btn-border-radius-sm:0;
$btn-border-radius-lg:0;